<div class="scroll-pane">
    <button class="close-btn" ng-click="showMenu=false"><i class="icon-x" aria-hidden="true"></i></button>
    <nav>
        <ul>
            <li><a href="http://www.casedesign.com/our-work">Our Work</a>
                <ul>
                    <li><a href="http://www.casedesign.com/our-work/portfolio/kitchens">Kitchens</a></li>
                    <li><a href="http://www.casedesign.com/our-work/portfolio/baths">Baths</a></li>
                    <li><a href="http://www.casedesign.com/our-work/portfolio/interiors">Interiors</a></li>
                    <li><a href="http://www.casedesign.com/our-work/portfolio/exteriors">Exteriors</a></li>
                    <li><a href="http://www.casedesign.com/our-work/portfolio/additions">Additions</a></li>
                </ul>
            </li>
            <li><a href="http://www.casedesign.com/our-people">Our People</a></li>
            <li><a href="http://www.casedesign.com/our-work/idea-center">Idea Center</a></li>
        </ul>
        <a href="#schedule" class="schedule-btn">Schedule a Consultation</a>
        <div ng-include="'partials/utility-links.html'" class="utility-links"></div>
    </nav>
</div>
