<ul>
    <li><a href="http://www.casedesign.com/seminars" target="_self">Seminars</a></li>
    <li><a href="http://www.casedesign.com/press" target="_self">Press</a></li>
    <li><a href="http://www.casedesign.com/blog/" target="_self">Blog</a></li>
    <li><a href="http://www.casedesign.com/case-cares" target="_self">Case Cares</a></li>
    <li><a href="http://www.casedesign.com/tips-to-prepare-for-a-successful-remodel" target="_self">Remodeling Tips</a></li>
    <li><a href="http://www.casedesign.com/e-newsletter" target="_self">E-Newsletter</a></li>
    <li><a href="http://www.casedesign.com/contact-us" target="_self">Contact Us <img src="/img/icon-phone.png" class="icon-phone" aria-hidden="false" alt=""></a></li>
</ul>
<a href="" target="_self" class="chat-btn">Chat</a>