#blog {
  text-align: center;
  header {
    background-color: #fff;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;
    display: block;
    margin: 3.5em auto .5em;
    position: relative;
    width: 18em;
    z-index: 1;
    h1 {
      font-size: 3.8em;
      letter-spacing: -.06em;
      line-height: 1em;
    }
    p {
      font-family: 'adelle',serif;
      font-size: 1.5em;
      line-height: 1em;
      .and {
        display: inline;
        font-size: .8em;
        font-weight: lighter;
        margin: 0 .1em;
      }
    }
  }
  .carousel-indicators {
    display: none;
  }
  .left.carousel-control,
  .right.carousel-control {
    @extend %block-btn-black;
    @include opacity(1);
    background-image: none;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 24px;
    font-weight: 100;
    height: 40px;
    margin-top: -60px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 99;
    > i {
      height: auto;
      line-height: 40px;
      margin: -18px -15px;
      text-shadow: none;
      width: auto;
    }
  }
  .left.carousel-control {
    left: 0;
  }
  .right.carousel-control {
    right: 0;
  }
}

#feed {
  border-top: 1px solid $grey-light;
  padding-top: 2.7em;
  position: relative;
  top: -2.7em;
  li {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    width: 24.3em;
  }
  a {
    @extend %pic-link;
  }
  .pic-container {
    height: 15.2em;
  }
  h2 {
    @extend %ellipsis;
    color: $red;
    font-family: 'adelle',serif;
    font-size: 1.2em;
    font-weight: 500;
  }
  p {
    color: $grey-dark;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: 1.5em;
  }
  .view-all-btn {
    @extend %block-btn-black;
    color: #fff;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    font-size: .9em;
  }
}

.lt-ie9 #blog #feed {
  .carousel {
    display: none;
  }
  > ul {
    display: block !important;
  }
}

@import 'responsive/blog';