#main-footer {
  letter-spacing: -.02em;
  margin-top: -11px;
  position: relative;
  h1 {
    @extend %hidden508;
  }
  .hanging-lamp {
    height: 170px;
    position: absolute;
    right: 80px;
    top: 0;
  }
  .brushes {
    border-bottom: 1px solid $grey-light;
    margin-top: -10px;
    position: relative;
    text-align: center;
    > img {
      height: 115px;
      position: relative;
      top: 47px;
      z-index: 1;
    }
  }
  .copyright {
    color: $grey-dark;
    font-size: 11px;
    padding: 20px 0 100px;
    text-align: center;
  }
  .footer-logo {
    bottom: 0;
    margin-bottom: -11px;
    position: absolute;
    right: 60px;
    width: 285px;
  }
}

#site-map {
  font-family: 'Avenir';
  margin: auto;
  padding-top: 100px;
  width: 80%;
  * {
    vertical-align: top;
  }
  > section {
    display: inline-block;
    min-width: 160px;
    padding-right: 35px;
    position: relative;
    &:before {
      background-color: #e5e5e5;
      content: '';
      display: inline-block;
      height: 100%;
      left: -25px;
      position: absolute;
      width: 10px;
    }
    h2,
    h2 > a {
      color: $red;
      font-size: 1.1em;
      font-weight: 500;
      margin: 0 0 .5em 0;
    }
    ul {
      margin: 0;
    }
    li > a {
      color: $grey-dark;
      font-size: .8em;
      font-weight: 500;
      line-height: 2em;
      &:hover {
        color: $red;
      }
    }
  }
}

#footer-links {
  margin-top: 60px;
  text-align: center;
  ul {
    display: block;
    margin: 2px 0;
  }
  li {
    display: inline-block;
    margin-right: -2px;
  }
  li:first-child a:before {
    content: '';
  }
  a {
    color: $red;
    font-family: 'Avenir';
    font-size: 11px;
    font-weight: 500;
    padding: 0 4px;
    &:hover {
      color: $grey-dark;
    }
    &:before {
      color: $grey-medium;
      content: '|';
      font-size: 9px;
      margin-right: 8px;
    }
  }
}