.carousel-indicators {
  bottom: 5.3em;
  margin-left: -27em;
  width: 54em;
  /* Reset from bootstrap.css */
  > li,
  > li.active {
    background-color: $red;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    height: auto;
    margin: 0;
    width: auto;
    text-indent: 0;
  }
  > li {
    @include block-btn(#fff, #fff, $red, $red);
    @include box-sizing(none);
    border: .7em solid transparent;
    font-family: 'proxima-nova', sans-serif;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 2em;
    padding: 0 1.5em;
    &.active {
      border: .7em solid #fff;
      line-height: 3em;
    }
    &:hover {
      background-color: $red-light;
    }
  }
}

.carousel-control.right,
.carousel-control.left, {
  &:hover {
    @include opacity(1);
  }
}
.carousel-control.right,
.carousel-control.left {
  @include transition(opacity 1s);
  @include opacity(0);
}

.carousel .preview {
  @include transform(rotate(12deg));
  background-color: #fff;
  border-left: 7px solid #fff;
  overflow: hidden;
  position: absolute;
  right: -91%;
  top: 0;
  width: 100%;
  > img {
    @include opacity(.9);
    @include transform(rotate(-12deg));
    -webkit-filter: blur(5px);
    position: relative;
    left: -9%;
  }
}

#hero {
  .content {
    position: absolute;
    left: 59.3%;
    top: 40.8%
  }
  h1 {
    color: #fff;
    font-size: 6em;
    letter-spacing: -.06em;
    line-height: 1em;
  }
  .highlighted-lines {
    margin: 0;
    padding-left: 5px;
    width: 513px;
    > span {
      background-color: $grey-black;
      color: #fff;
      display: block;
      font-family: 'proxima-nova', sans-serif;
      font-size: 1.2em;
      line-height: 1.5em;
      margin: 3px 0;
      padding: .4em 1em;
      > mark {
        color: #fff;
      }
      a {
        color: $red-light;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .continue-btn {
    margin: .5em 0;
    text-align: center;
    > button {
      background: transparent;
      color: $red;
      font-size: 1.75em;
      &:hover {
        color: $red-dark;
      }
    }
  }
  .mobile-read-more {
    @extend %block-btn-black;
    display: none !important;
  }
}

@import 'responsive/hero';
