@mixin block-btn($color, $hover-color, $background-color, $hover-background-color) {
  background-color: $background-color;
  color: $color;
  display: inline-block;
  font-family: 'proxima-nova', sans-serif;
  font-size: .75em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 100%;
  padding: 6px 10px 5px;
  text-transform: uppercase;
  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
}

@mixin arrow-up($color: #ccc, $width: 5px, $height: $width) {
  border-bottom: $height solid $color;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  height: 0;
  width: 0;
}

@mixin arrow-down($color: #ccc, $width: 5px, $height: $width) {
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  border-top: $height solid $color;
  height: 0;
  width: 0;
}

@mixin arrow-left($color: #ccc, $height: 5px, $width: $height) {
  border-bottom: $height solid transparent;
  border-right: $width solid $color;
  border-top: $height solid transparent;
  height: 0;
  width: 0;
}

@mixin arrow-right($color: #ccc, $height: 5px, $width: $height) {
  border-bottom: $height solid transparent;
  border-left: $width solid $color;
  border-top: $height solid transparent;
  height: 0;
  width: 0;
}

@mixin placeholder-styles() {
  color: $red-black;
  font-family: 'adelle',serif;
}

@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}