.our-work-content {
  @include box-shadow(0 10px 50px rgba(0,0,0,.75));
  background: url(/img/our-work-bg-sm.jpg) no-repeat 0 0;
  height: 788px;
  position: relative;
  text-align: center;
  width: 100%;
}

.our-promise {
  background: $red;
  color: #fff;
  display: inline-block;
  font-family: 'AvenirBold';
  font-size: 11px;
  letter-spacing: 3px;
  padding: 8px 35px;
  margin: 170px 0 0;
  text-transform: uppercase;
}

.red-ribbon {
  background: $red;
  background: rgba(200, 0, 10, .7);
  margin-top: 140px;
  padding: 7px 0;
  > li {
    display: inline-block;color: #fff;
    font-family: 'AvenirDemiBold';
    font-size: 10px;
    letter-spacing: 2px;
    padding: 5px 8px;
    text-transform: uppercase;
    &:before {
      color: #000;
      content: '|';
      margin-right: 5px;
      position: relative;
      top: 1px;
    }
    &:first-child:before {
      content: '';
    }
  }
}

#our-work {
  overflow-x: hidden;
  h1 {
    font-family: 'AvenirDemiBold';
    font-size: 66px;
    letter-spacing: 1px;
    margin-top: .67em;
  }
  header > p > span {
    border-bottom: 1px solid shade($grey-light, 15);
  }
  .signature {
    margin: 25px auto 0;
    text-transform: uppercase;
    > img {
      width: 240px;
    }
    .name,
    .title {
      margin: 0;
    }
    .name {
      color: $red;
      font-family: 'SentinelBlack';
      font-size: 12px;
      letter-spacing: 3px;
      margin-top: 10px;
    }
    .title {
      font-family: 'AvenirDemiBold';
      font-size: 9px;
      letter-spacing: 2px;
      line-height: 2em;
    }
  }
  .parallax {
    background: url(/img/parallax-our-work.jpg) 90% 0 no-repeat fixed;;
    height: 560px;
    overflow-y: hidden;
    width: 100%;
  }
}

@import 'responsive/our-work';