%block-btn-light-grey { @include block-btn($grey-medium, #fff, $grey-light, $red); }
%block-btn-dark-grey { @include block-btn(#fff, #fff, $grey-dark, $red); }
%block-btn-black { @include block-btn($red, #fff, #000, #000); }
%block-btn-black { @include block-btn($red, #fff, #000, $red); }
%block-btn-red { @include block-btn(#fff, #fff, $red, $grey-dark); }
%ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
%hidden508 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
%pic-link {
  &:hover {
    .pic-container .hover-icon {
      @include opacity(1);
      visibility: visible;
    }
    .pic-container .pic {
      @include opacity(.25);
    }
    h2,
    span {
      color: $grey-medium;
    }
  }
  .pic-container {
    background-color: #292929;
    overflow-y: hidden;
    position: relative;
    > img {
      width: 100%;
      &.hover-icon,
      &.pic {
        @include transition(opacity 200ms);
      }
      &.hover-icon {
        @include opacity(0);
        height: 50px;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        position: absolute;
        top: 50%;
        visibility: hidden;
        width: 50px;
        z-index: 1;
      }
    }
  }
}