#schedule {
  background-color: $red-light;
  header {
    padding-top: 3.9em;
    text-align: center;
    h1 {
      color: white;
      display: inline;
      font-size: 2.4em;
      letter-spacing: -.02em;
      line-height: 1.6em;
      position: relative;
      span.clock-o {
        color: $red;
        position: relative;
      }
      img.clock-o {
        position: absolute;
        right: 202px;
        top: 9px;
        width: 25px;
      }
    }
    p {
      color: #000;
    }
  }
  footer {
    background-color: $grey-black;
    color: #fff;
    font-family: 'AvenirDemiBold';
    font-size: 11px;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    li {
      display: inline-block;
      padding: 13px 10px;
      &:first-child:before {
        content: '';
      }
      &:before {
        color: $red-light;
        content: '\e600';
        font-family: 'CaseIcons';
        font-size: 1.5em;
        margin-right: 20px;
        speak: none;
        vertical-align: middle;
      }
    }
  }
}

#schedule-form {
  margin: 2em auto;
  padding-bottom: 100px;
  width: 590px;
  .text-input-row {
    border-bottom: 1px solid $red-dark;
    margin-top: 25px;
  }
  .checkbox-row {
    background-color: $red-dark;
    margin-top: 15px;
  }
  .checkbox-group,
  legend {
    @include box-sizing(border-box);
    display: block;
    float: left;
  }
  .checkbox-group {
    padding: 18px 0 18px 35px;
    width: 75%;
  }
  .submit-row {
    @include clearfix;
    margin: 20px 0 0;
  }
  label,
  input[type='text'] {
    @include box-sizing(border-box);
    background: none;
    border: 0;
    display: inline-block;
    line-height: 1em;
    margin: 0 0 0 -2px;
    outline: none;
    padding: 0 15px 8px;
  }
  label,
  legend {
    color: #fff;
    font-family: 'SentinelBook';
    font-size: 15px;
    width: 25%;
    &.required:after {
      content: '*';
      margin-left: .2em;
    }
  }
  legend {
    display: inline-block;
    padding-left: 13px;
    padding-top: 18px;
  }
  input[type='text'] {
    @include transition(box-shadow 200ms);
    border-left: 1px solid $red-dark;
    color: #fff;
    font-family: 'SentinelLightItalic';
    font-size: 17px;
    width: 75%;
    &:focus {
      @include box-shadow(-5px 5px 7px rgba(0,0,0,.3));
    }
  }
  input[type='checkbox'] {
    @extend %hidden508;
  }
  input[type='checkbox']:checked + label:before {
    background: #000;
    color: shade(#fff, 10);
    content: '\78';
    font-family: 'CaseIcons';
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    speak: none;
    text-align: center;
  }
  input[type='checkbox'] + label {
    color: $red-black;
    display: inline-block;
    font-family: 'Avenir';
    font-size: 12px;
    font-weight: 500;
    position: relative;
    width: 47%;
    &:before {
      background: white;
      content: '';
      display: inline-block;
      height: 15px;
      margin-left: -25px;
      margin-top: -3px;
      position: absolute;
      width: 15px;
    }
  }
  input[type='submit'] {
    background-color: #fff;
    border: 0;
    clear: right;
    color: $grey-dark;
    float: right;
    font-family: 'SentinelBook';
    font-size: 22px;
    letter-spacing: -.04em;
    outline: 0;
    padding: 7px 40px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  @include placeholder-styles;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  @include placeholder-styles;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  @include placeholder-styles;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  @include placeholder-styles;
}