#main-header {
  position: relative;
  z-index: 1;
}

.sub-nav {
  @include transition(opacity 200ms);
  @include background(linear-gradient(#d6d6d6, #f1f1f1));
  @include box-shadow(0 3px 2px -2px rgba(0,0,0,.3));
  left: 0;
  padding: 3em 0;
  position: absolute;
  top: 100%;
  width: 100%;
  &.ng-hide-add,
  &.ng-hide-remove {
    display: block !important;
  }
  .cta {
    border-top: 1px solid $grey-light;
    margin-top: .5em;
    padding: .7em 0 0;
    text-align: center;
    width: 100%;
    > p {
      color: $grey-dark;
      font-family: 'SentinelLightItalic';
      margin: .5em 0;
    }
    > a {
      @extend %block-btn-red;
      font-size: .85em;
      padding: 8px 22px;
    }
  }
  a {
    @extend %pic-link;
  }
  ul {
    margin: auto;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 .8em;
    width: 14em;
  }
  span {
    color: $red;
    display: block;
    font-family: 'AvenirBold';
    font-size: .85em;
    letter-spacing: .03em;
    margin: .5em 0 0;
    text-transform: uppercase;
  }
  > i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: -6px;
  }
}

#our-work-nav > i { right: 525px }
#idea-center-nav > i { right: 425px }
#our-people-nav > i { right: 320px }