$total-columns  : 6;
$column-width   : 15em;
$gutter-width   : 0;
$grid-padding   : $gutter-width;

$grey-light: #d3d3d3;
$grey-medium: #555;
$grey-dark: #373737;
$grey-black: #232323;
$red: #db2a38;
$red-dark: #bd2d39;
$red-black: #5c2629;
$red-light: #e42f3e;

$animate-color-speed: 200ms;