@font-face {
  font-family: 'NeutraText';
  src: url("../fonts/neutratext-bold-webfont.eot");
  src: url("../fonts/neutratext-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/neutratext-bold-webfont.woff") format("woff"), url("../fonts/neutratext-bold-webfont.ttf") format("truetype"), url("../fonts/neutratext-bold-webfont.svg#NeutraText") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url("../fonts/sentinel-light-webfont.eot");
  src: url("../fonts/sentinel-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sentinel-light-webfont.woff") format("woff"), url("../fonts/sentinel-light-webfont.ttf") format("truetype"), url("../fonts/sentinel-light-webfont.svg#Sentinel") format("svg");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url("../fonts/sentinel-lightitalic-webfont.eot");
  src: url("../fonts/sentinel-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sentinel-lightitalic-webfont.woff") format("woff"), url("../fonts/sentinel-lightitalic-webfont.ttf") format("truetype"), url("../fonts/sentinel-lightitalic-webfont.svg#Sentinel") format("svg");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
  src: url("../fonts/sentinel-book-webfont.eot");
  src: url("../fonts/sentinel-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sentinel-book-webfont.woff") format("woff"), url("../fonts/sentinel-book-webfont.ttf") format("truetype"), url("../fonts/sentinel-book-webfont.svg#Sentinel") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url("../fonts/sentinel-medium-webfont.eot");
  src: url("../fonts/sentinel-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sentinel-medium-webfont.woff") format("woff"), url("../fonts/sentinel-medium-webfont.ttf") format("truetype"), url("../fonts/sentinel-medium-webfont.svg#Sentinel") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url("../fonts/sentinel-black-webfont.eot");
  src: url("../fonts/sentinel-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sentinel-black-webfont.woff") format("woff"), url("../fonts/sentinel-black-webfont.ttf") format("truetype"), url("../fonts/sentinel-black-webfont.svg#Sentinel") format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenirnextltpro-regular-webfont.eot");
  src: url("../fonts/avenirnextltpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirnextltpro-regular-webfont.woff") format("woff"), url("../fonts/avenirnextltpro-regular-webfont.ttf") format("truetype"), url("../fonts/avenirnextltpro-regular-webfont.svg#Avenir") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenirnextltpro-demi-webfont.eot");
  src: url("../fonts/avenirnextltpro-demi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirnextltpro-demi-webfont.woff") format("woff"), url("../fonts/avenirnextltpro-demi-webfont.ttf") format("truetype"), url("../fonts/avenirnextltpro-demi-webfont.svg#Avenir") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/avenirnextltpro-bold-webfont.eot");
  src: url("../fonts/avenirnextltpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirnextltpro-bold-webfont.woff") format("woff"), url("../fonts/avenirnextltpro-bold-webfont.ttf") format("truetype"), url("../fonts/avenirnextltpro-bold-webfont.svg#Avenir") format("svg");
  font-weight: bolder;
  font-style: normal;
}
