@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #blog {
    li {
      margin: 10px;
      width: 285px;
      &:first-child {
        margin-left: 0;
      }
      &:first-child + li {
        margin-right: 0;
      }
      .pic-container {
        height: 12.75em;
      }
    }
  }
  #feed {
    margin: auto;
    width: 77%;
  }
  #next-btn {
    right: -15.1%;
  }
  #prev-btn {
    left: -15.1%;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  #blog {
    header {
      font-size: .8em;
      width: 15em;
    }
  }
  #feed {
    li {
      margin: 1em 0;
      width: 100%;
      h2 {
        font-size: 1.4em;
        line-height: 1.3em;
        overflow: visible;
        white-space: normal;
      }
      p {
        font-size: 1em;
      }
      h2,
      p {
        padding-left: .5em;
        padding-right: .5em;
      }
    }
    .view-all-btn {
      font-size: 1.25em !important;
    }
  }

  #next-btn,
  #prev-btn {
    display: none;
  }
}