@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
  .web-only {
    display: none !important;
  }
  header > p > span {
    display: inline;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .tablet {
    display: block;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .tablet {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}