@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
  #utility-links,
  #primary-links {
    display: none;
  }
  #mobile-menu {
    display: block;
    menu {
      @include box-shadow(-320px 0 50px 50px rgba(0,0,0,.5));
      background: #fff fixed;
      height: 100%;
      left: 100%;
      margin: 0;
      padding: 0 2em 1em;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 16;
    }
    .close-btn {
      background-color: $red-light;
      color: #fff;
      font-size: 1.75em;
      line-height: 0;
      padding: 5px;
    }
    .scroll-pane {
      display: block;
      height: 100%;
      overflow-y: scroll;
      width: 100%;
    }
    .schedule-btn {
      @extend %block-btn-red;
      font-size: 1em;
      margin: 0;
      padding: 1em;
    }
    .chat-btn {
      background-color: $red-light;
      color: #fff;
      display: block;
      font-size: 1em;
      margin: .8em 0 0 0;
      padding-bottom: 1em;
      padding-top: 1em;
      width: 4em;
      &:after {
        border-top-color: $red-light;
      }
    }
    nav {
      > ul {
        margin: 0 0 1em;
        > li {
          border-top: 1px solid $grey-light;
          margin: .3em 0;
          padding: .3em 0 0;
          &:first-child {
            border-top: 0;
          }
          a {
            color: $red;
            font-family: 'proxima-nova', sans-serif;
            font-size: 1.8em;
            font-weight: 500;
            line-height: 2em;
            text-transform: uppercase;
          }
          > a {
            font-weight: 600;
          }
          > ul {
            font-size: .7em;
            font-weight: 400;
            list-style: square url(../../img/mobile/square.png);
            margin: 0 0 0 3.5em;
            > li {
              margin: 1em 0;
              padding: 0 0 0 .4em;
            }
          }
        }
      }
    }
    .utility-links li {
      display: block;
      > a {
        font-size: 1.2em;
        margin: 1.1em 0;
        .icon-phone {
          display: none;
        }
      }
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #main-header {
    height: 125px;
    padding-left: 40px;
    .case-logo {
      margin-top: 10px;
    }
  }
  #menu-btn {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 15;
    > img {
      width: 150%;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  #main-header {
    height: 70px;
    padding: 15px 20px;
    .case-logo {
      height: 40px;
      margin: 0;
    }
  }
  #menu-btn {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 15;
  }
}