@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
  select {
    background: url(/img/mobile/select-arrow.png) no-repeat right;
    background-size: contain;
    border: 1px solid shade($red-dark, 20);
    border-radius: 0;
    color: #fff;
    display: inline-block !important;
    float: left;
    font-family: 'adelle',serif;
    font-size: 16px;
    height: 45px;
    position: relative;
  }
  input[type='submit'] {
    border-radius: 0;
  }
  .zen-ui-select {
    display: none;
  }
  #schedule form {
    width: 100%;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #schedule {
    header h1 img.clock-o {
      right: 5.8em;
      top: .37em;
    }
    footer ul {
      margin: auto;
      width: 70%;
      a {
        color: #fff;
      }
      li {
        padding-left: 5px;
        padding-right: 5px;
        &:before {
          margin-right: 15px;
        }
      }
      li:first-child + li + li:before {
        content: '';
      }
    }
    form {
      width: 75%;
      select {
        width: 370px;
      }
    }
  }
  #site-map {
    > section {
      display: block !important;
      margin-bottom: 10px;
      h2 {
        margin-bottom: 0 !important;
      }
    }
    nav li {
      display: inline-block;
      font-size: 1.2em;
      margin-right: 20px;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  #schedule {
    header {
      font-size: .65em;
      padding-top: 1em;
      h1 {
        img.clock-o {
          right: 5.8em;
          top: .37em;
        }
      }
      p {
        line-height: 1.2em;
      }
    }
    form {
      padding-bottom: 0;
      label {
        padding-right: 0;
        width: 37%;
      }
      input[type='text'],
      input[type='tel'],
      input[type='email'] {
        width: 62%;
      }
      legend {
        display: block;
        width: 100%;
      }
      .fsOptionLabel,
      input[type='checkbox'] + label {
        width: 68%;
      }
      select {
        display: block!important;
        float: none;
        margin: auto;
        width: 90%;
      }
      input[type='submit'] {
        display: block;
        float: none;
        margin: 1em auto;
      }
    }
    footer {
      padding: .4em 0;
      li {
        padding: .3em 0;
        &:before {
          display: none;
        }
        > a {
          color: #fff;
        }
      }
    }
  }
}